<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Movies</title>
    <link rel="shortcut icon" href="assets/icons/movie_white_24dp.svg" type="image/x-icon">
    <link rel="stylesheet" href="assets/style/style.css">
    <script src="https://kit.fontawesome.com/b0ef7a8aa5.js" crossorigin="anonymous"></script>
    <!-- <script src="/assets/script/script.js"></script> -->

</head>

<body>
    <header>
        <div class="logo" onclick="getPage()">
            <i class="fas fa-film"></i>
            <h1>WatchMovies</h1>
        </div>
        <div class="search">
            <i class="fas fa-search" onclick="Search()"></i>
            <input type="text" name="movieSearch" id="movieSearch" placeholder="Looking for a movie ?">
        </div>
        <a class="login" href='/login'>
            <i class="fas fa-user-circle"></i>
        </a>
    </header>
    <section>
        <p class="guide">Home > Movies > Genre > Producer</p>
        <h2>Best movies</h2>
        <div class="moviechoose moviehidden">
            <div class="image">
            </div>
            <div class="movieDescription">
            </div>
            <div class="close" onclick="CloseWindow()">
                <i class="fas fa-times-circle"></i>
            </div>
        </div>
        <div class="displayMovies">
            <!-- fetch movies -->
        </div>
        <div class="pages">
        </div>
    </section>
</body>

<script>
    async function fetchMovies(url) {
        let response = await fetch(url);
        movies = await response.json();
        return movies;
    }

    (getPage)();

    function displayMovies(movies, page, nbpage, action) {
        // display movies
        let moviesDiv = document.querySelector('.displayMovies');
        let divs = '';

        movies.forEach(movie => {
            // format duration
            let hours = Math.floor(movie.min_duration / 60);
            let minutes = movie.min_duration % 60;
            let time = `${hours}h ${minutes}min`;

            // format release date
            date = '';
            if (movie.release_date != null) {
                let array = movie.release_date.split('-');
                date += `${array[1]}/${array[2].slice(0, 2)}/${array[0]}`
            } else {
                date += 'Unknown'
            }

            // display info
            let div = `
            <div class="movie" onclick="getMovie(${movie.id})">
                <h3>${movie.title}</h3>
                <p class="durationGenre">${time} / ${movie.genre_name}</p>
                <p class="releaseDate">Release date : <span>${date}</span></p>
                <p class="producer">Producer : <span>${movie.producer_name}</span> </p>
                <p class="descriptionLimited">${movie.summary}...</p>
            </div> `
            divs += div;
        });

        moviesDiv.innerHTML = divs;

        // display pages
        let activePage = page;
        let divPages = '';

        if (action == 'search') {
            for (let i = 1; i <= nbpage; i++) {
                if (i == activePage) {
                    let divPage = `<button class="page" id="activePage" onclick="Search(${i})">${i}</button>`;
                    divPages += divPage;
                } else {
                    let divPage = `<button class="page" onclick="Search(${i})">${i}</button>`
                    divPages += divPage;
                }

            }
        } else {
            for (let i = 1; i <= nbpage; i++) {
                if (i == activePage) {
                    let divPage = `<button class="page" id="activePage" onclick="getPage(${i})">${i}</button>`;
                    divPages += divPage;
                } else {
                    let divPage = `<button class="page" onclick="getPage(${i})">${i}</button>`
                    divPages += divPage;
                }
            }
        }
        document.querySelector('.pages').innerHTML = divPages;

    }

    async function getPage(page = 1) {
        // fetch movies
        let limit = 20;
        let offset = limit * page - limit;

        let movies = await fetchMovies(`http://localhost:8000/api/movies/${limit}/${offset}`);
        let moviesTotal = await fetchMovies(`http://localhost:8000/api/movies`);

        let count = moviesTotal.length;
        let nbpage = Math.floor(count / limit);


        displayMovies(movies, page, nbpage, 'getmovie');
    }

    async function getMovie(id) {
        // fetch movie
        let movies = await fetchMovies(`http://localhost:8000/api/movies/${id}`);
        let movie = movies[0];
        // format duration
        let hours = Math.floor(movie.min_duration / 60);
        let minutes = movie.min_duration % 60;
        let time = `${hours}h ${minutes}min`;

        // format release date
        date = '';
        if (movie.release_date != null) {
            let array = movie.release_date.split('-');
            date += `${array[1]}/${array[2].slice(0, 2)}/${array[0]}`
        } else {
            date += 'Unknown'
        }

        // display info
        let div = `
            <h3>${movie.title}</h3>
            <p class="durationGenre">${time} / ${movie.genre_name}</p>
            <p class="releaseDate">Release date : <span>${date}</span></p>
            <p class="producer">Producer : <span>${movie.producer_name}</span> </p>
            <p class="descriptionLimited">${movie.summary}...</p> `

        document.querySelector('.movieDescription').innerHTML = div;

        // fetch image URL
        let URL_images = await fetchMovies(`http://localhost:8000/api/URL_images`);

        let min = 0;
        let max = URL_images.length - 1;
        let num = Math.floor(Math.random() * (max - min + 1) + min);

        let URL_image = URL_images[num].URL_image;

        let imageDiv = `<img src="${URL_image}" alt="" loading="lazy">`

        document.querySelector('.image').innerHTML = imageDiv;


        document.querySelector('.moviechoose').classList.remove("moviehidden");
        document.querySelector('.moviechoose').classList.add("movieactive");

    }

    function CloseWindow() {
        document.querySelector('.moviechoose').classList.add("moviehidden");
        document.querySelector('.moviechoose').classList.remove("movieactive");
    }

    async function Search(page = 1) {
        // fetch movies
        let limit = 20;
        let offset = limit * page - limit;

        let result = document.querySelector('input').value;
        let search = result.toUpperCase();
        if (search == '') {
            getPage();
        } else {
            let movies = await fetchMovies(`http://localhost:8000/api/movies/search/${search}/${limit}/${offset}`);
            let moviesTotal = await fetchMovies(`http://localhost:8000/api/movies/search/${search}/false/false`);
            let count = moviesTotal.length;
            let nbpage = Math.floor(count / limit);

            displayMovies(movies, page, nbpage, 'search');

        }
    }

    document.querySelector('.search').addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            Search();
        }
    });
</script>

</html>